<ul class="list-group w-100" *ngFor="let todo of todos">
    <li class="list-group-item d-flex justify-content-between w-100">
        <span>
            <input (change)="changeTodoStatus(todo)" type="checkbox" [checked]="todo.isCompleted" name="" id="">
        </span>
        <span [ngClass]="{'completedTodos': todo.isCompleted}">
            {{todo.title | uppercase}}
        </span>
        <span [ngClass]="{'completedTodos': todo.isCompleted}">
            {{todo.date | date:"MMM dd YYYY"}}
        </span>
        <span >
            <fa-icon [icon]="faTrashAlt" (click)="deleteTodo(todo)">trash</fa-icon>
        </span>
    </li>
</ul>
